<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Are you sure you want to delete this song?</h3>
				<p>Title : {{ this.element.title }}</p>
				<p>Lyrics : {{ this.element.lyrics }}</p>
				<p>Artist : {{ this.element.artist }}</p>
				<p>Gender : {{ this.element.gender }}</p>
			</div>
		</div>
		<div class="rows">
			<div class="col">
				<b-button v-on:click="deleteBook" variant="danger">Delete</b-button>
			</div>
		</div>
	</div>

</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'

export default{
	data(){
		return{
			songId: this.$route.params.songId,
			element:{
				title: '',
				lyrics: '',
				artist: '',
				gender: ''
			}
		}
	},
	methods:{
		getSong(){
			const path = 'http://localhost:8000/api/v1.0/songs/'+this.songId+'/'﻿
			axios.get(path).then((response) => {
				this.element.title=response.data.title
				this.element.lyrics=response.data.lyrics
				this.element.artist=response.data.artist
				this.element.gender=response.data.gender

			})
			.catch((error) => {
				console.log(error)
			})
		},
		deleteBook(){
			const path = 'http://localhost:8000/api/v1.0/songs/'+this.songId+'/'﻿
			axios.delete(path).then((response) => {
				location.href = '/songs'
			})
			.catch((error) => {
				console.log(error)
				swal("It is not possible to eliminate this song","","error")
			})
		}
	},
	created(){
		this.getSong()
	}
}
</script>

<style lang="css" scoped>
</style>