<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<div class="">
					<h2>Songs</h2>

					<b-button size="sm" :to="{ name:'NewSong' }" variant="primary">Create a Song</b-button>
				</div>
				<br>
				<div class="col-md-12">
					<b-table striped hover :items="songs" :fields="fields">
						
						<template slot="action" slot-scope="data">
							<b-button size="sm" variant="primary" :to="{ name:'EditSong', params: {songId:data.item.id} }">
							Edit
							</b-button>
							<b-button size="sm" variant="danger" :to="{ name:'DeleteSong', params: {songId:data.item.id} }">
							Delete
							</b-button>
						</template>
					</b-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default{
	data(){
		return{
			fields:[
				{key:'title', label:'Titulo'},
				{key: 'lyrics', label:'Letra'},
				{key: 'artist', label:'Artista'},
				{key: 'gender', label:'Genero'},
				{key: 'action', label:''}
			],
			songs:[]
		}
	},
	methods:{
		getSongs(){

			const path = 'http://localhost:8000/api/v1.0/songs/'
			axios.get(path).then((response)=>{
				this.songs = response.data
			})
			.catch((error) => {
				console.log(error)
			})
		}
	},

	created(){
		this.getSongs()
	}
}
</script>

<style lang="css" scoped>
</style>