<template lang="html">
	<div class="container">

		<div class="row">
			<div class="col text-left">
				<h2>New Song</h2>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">

					<form @submit="onSubmit">
						<div class="form-group row">
							<label for="title" class="col-sm-2 col-form-label">Title</label>
							<div class="col-sm-6">
								<input type="text" placeholder="Title" name="title" class="form-control" v-model.trim="form.title">
							</div>
						</div>
						<div class="form-group row">
							<label for="lyrics" class="col-sm-2 col-form-label">Lyrics</label>
							<div class="col-sm-6">
								<textarea name="lyrics" class="form-control" placeholder="Lyrics" rows="3" v-model.trim="form.lyrics"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label for="artist" class="col-sm-2 col-form-label">Artist</label>
							<div class="col-sm-6">
								<input type="text" placeholder="Artist" name="artist" class="form-control" v-model.trim="form.artist">
							</div>
						</div>
						<div class="form-group row">
							<label for="gender" class="col-sm-2 col-form-label">Gender</label>
							<div class="col-sm-6">
								<input type="text" placeholder="Gender" name="gender" class="form-control" v-model.trim="form.gender">
							</div>
						</div>
						<div class="rows">
							<div class="col text-left">
								<b-button type="submit" variant="primary">Create</b-button>
								<b-button type="submit" class="btn-large-space" :to="{ name: 'ListSong' }">Cancel</b-button>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
export default{
	data(){
		return{
			form:{
				title:	'',
				lyrics:	'',
				artist:	'',
				gender:	''
			}
		}
	},
	methods:{
		onSubmit(event){
			event.preventDefault()
			const path = 'http://localhost:8000/api/v1.0/songs/'
			axios.post(path,this.form).then((response) => {
				this.form.title=response.data.title
				this.form.lyrics=response.data.lyrics
				this.form.artist=response.data.artist
				this.form.gender=response.data.gender

				swal("Song created!","","success")
				location.href = '/songs'

			})
			.catch((error) => {
				console.log(error)
				swal("Song not created!","","error")
			})
		}
	},
	created(){
	}
}
</script>

<style lang="css" scoped>
</style>